#question1 {
  display: none;
}

#question2f {
  display: none;
}

#question3f {
  display: none;
}

#question2b {
  display: none;
}

#question3bsticktheman {
  display: none;
}

#question3bcorporateslave {
  display: none;
}
