#question1 {
  display: none;
}

#question2f {
  display: none;
}

#question3f {
  display: none;
}

#question2b {
  display: none;
}

#question3bsticktheman {
  display: none;
}

#question3bcorporateslave {
  display: none;
}

#php {
  display: none;
}

#design {
  display: none;
}

#ruby {
  display: none;
}

#csharp {
  display: none;
}

#css {
  display: none;
}

#java {
  display: none;
}

body {
  background-image: url("http://silviahartmann.com/background-tile-art/images/grey-repeating-background-5.jpg");
}

h1 {
  text-align: center;
}

p {
  font-size: 12pt;
}

h2 {
  font-weight: bold;
  font-size: 18pt;

}

h3 {
  font-size: 14pt;
  font-family: "helvetica", sans-serif;
}

.jumbotron {
  margin: 20px;
  background-color:rgba(200, 200, 200, 0.8);
  color: #003300;
  border-radius: 30px;
}

.btn-info {
  border-radius: 14px;
}

form {
text-align: justify;
text-align-last: center;
}

img {
  display: block;
  margin: auto;
}
